Import Dependencies and Data

In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Import and read data
crash_df =pd.read_csv("Airplane_Crashes_And_Fatalities_Since_1908 (2).csv")
crash_df

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [3]:
# Select useful columns
columns_df = crash_df.loc[:, ["Date", "Location", "Operator", "Aboard", "Fatalities", "Summary"]]
columns_df.tail()

,Date,Location,Operator,Aboard,Fatalities,Summary
5263,05/20/2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,112.0,98.0,"While on approach, the military transport cras..."
5264,05/26/2009,"Near Isiro, DemocratiRepubliCongo",Service Air,4.0,4.0,The cargo plane crashed while on approach to I...
5265,06/01/2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,228.0,228.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1.0,1.0,The air ambulance crashed into hills while att...
5267,06/08/2009,"State of Arunachal Pradesh, India",Military - Indian Air Force,13.0,13.0,The military transport went missing while en r...

In [4]:
# Divide date into 3 parts
columns_df[['month','day','year']] = columns_df.Date.str.split('/', expand=True)
columns_df

,Date,Location,Operator,Aboard,Fatalities,Summary,month,day,year
0,09/17/1908,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",09,17,1908
1,07/12/1912,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,07,12,1912
2,08/06/1913,"Victoria, British Columbia, Canada",Private,1.0,1.0,The first fatal airplane accident in Canada oc...,08,06,1913
3,09/09/1913,Over the North Sea,Military - German Navy,20.0,14.0,The airship flew into a thunderstorm and encou...,09,09,1913
4,10/17/1913,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,Hydrogen gas which was being vented was sucked...,10,17,1913
...,...,...,...,...,...,...,...,...,...
5263,05/20/2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,112.0,98.0,"While on approach, the military transport cras...",05,20,2009
5264,05/26/2009,"Near Isiro, DemocratiRepubliCongo",Service Air,4.0,4.0,The cargo plane crashed while on approach to I...,05,26,2009
5265,06/01/2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,228.0,228.0,The Airbus went missing over the AtlantiOcean ...,06,01,2009
5266,06/07/2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1.0,1.0,The air ambulance crashed into hills while att...,06,07,2009
5267,06/08/2009,"State of Arunachal Pradesh, India",Military - Indian Air Force,13.0,13.0,The military transport went missing while en r...,06,08,2009

In [5]:
# Divide location into 4 parts
columns_df[['city','state','country','extra']] = columns_df.Location.str.split(',', expand=True)
columns_df

,Date,Location,Operator,Aboard,Fatalities,Summary,month,day,year,city,state,country,extra
0,09/17/1908,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",09,17,1908,Fort Myer,Virginia,None,None
1,07/12/1912,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,07,12,1912,AtlantiCity,New Jersey,None,None
2,08/06/1913,"Victoria, British Columbia, Canada",Private,1.0,1.0,The first fatal airplane accident in Canada oc...,08,06,1913,Victoria,British Columbia,Canada,None
3,09/09/1913,Over the North Sea,Military - German Navy,20.0,14.0,The airship flew into a thunderstorm and encou...,09,09,1913,Over the North Sea,None,None,None
4,10/17/1913,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,Hydrogen gas which was being vented was sucked...,10,17,1913,Near Johannisthal,Germany,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5263,05/20/2009,"Near Madiun, Indonesia",Military - Indonesian Air Force,112.0,98.0,"While on approach, the military transport cras...",05,20,2009,Near Madiun,Indonesia,None,None
5264,05/26/2009,"Near Isiro, DemocratiRepubliCongo",Service Air,4.0,4.0,The cargo plane crashed while on approach to I...,05,26,2009,Near Isiro,DemocratiRepubliCongo,None,None
5265,06/01/2009,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,228.0,228.0,The Airbus went missing over the AtlantiOcean ...,06,01,2009,AtlantiOcean,570 miles northeast of Natal,Brazil,None
5266,06/07/2009,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1.0,1.0,The air ambulance crashed into hills while att...,06,07,2009,Near Port Hope Simpson,Newfoundland,Canada,None
5267,06/08/2009,"State of Arunachal Pradesh, India",Military - Indian Air Force,13.0,13.0,The military transport went missing while en r...,06,08,2009,State of Arunachal Pradesh,India,None,None

In [6]:
# Drop unneeded columns
df2 = columns_df.drop(['Date', 'day', 'month'], axis=1)

In [7]:
df2.head()

,Location,Operator,Aboard,Fatalities,Summary,year,city,state,country,extra
0,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",1908,Fort Myer,Virginia,None,None
1,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,1912,AtlantiCity,New Jersey,None,None
2,"Victoria, British Columbia, Canada",Private,1.0,1.0,The first fatal airplane accident in Canada oc...,1913,Victoria,British Columbia,Canada,None
3,Over the North Sea,Military - German Navy,20.0,14.0,The airship flew into a thunderstorm and encou...,1913,Over the North Sea,None,None,None
4,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,Hydrogen gas which was being vented was sucked...,1913,Near Johannisthal,Germany,None,None

In [8]:
# Find text without information in each column
df2['state']= columns_df['state'].replace({None: "undetermined"})
df2['country']= columns_df['country'].replace({None: "undetermined"})
df2['extra']= columns_df['extra'].replace({None: "undetermined"})
df2.head()

,Location,Operator,Aboard,Fatalities,Summary,year,city,state,country,extra
0,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",1908,Fort Myer,Virginia,undetermined,undetermined
1,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,1912,AtlantiCity,New Jersey,undetermined,undetermined
2,"Victoria, British Columbia, Canada",Private,1.0,1.0,The first fatal airplane accident in Canada oc...,1913,Victoria,British Columbia,Canada,undetermined
3,Over the North Sea,Military - German Navy,20.0,14.0,The airship flew into a thunderstorm and encou...,1913,Over the North Sea,undetermined,undetermined,undetermined
4,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,Hydrogen gas which was being vented was sucked...,1913,Near Johannisthal,Germany,undetermined,undetermined

In [9]:
# Find lines in "extra" that have values in them
df2[(df2['extra'].str.contains('undetermined') == False)]

,Location,Operator,Aboard,Fatalities,Summary,year,city,state,country,extra
1609,"Near Varese, Lombardia, 20 miles NW of Milan, ...",Trans World Airlines,68.0,68.0,"While flying from Athens to Chicago, the No. 6...",1959,Near Varese,Lombardia,20 miles NW of Milan,Italy
2285,"Gatwick Airport, Horley, Surrey, England",Ariana Afghan Airlines,65.0,50.0,The aircraft descended below the glide slope a...,1969,Gatwick Airport,Horley,Surrey,England
2567,"London Heathrow, Staines, Surrey, England",British European Airways,118.0,118.0,The plane crashed into a field shortly after t...,1972,London Heathrow,Staines,Surrey,England
3198,"Elburz Mtns., near Laskarak, Markazi, Iran",Iran National Airlines,128.0,128.0,The aircraft crashed into a mountain during a ...,1980,Elburz Mtns.,near Laskarak,Markazi,Iran
3319,"Mt. San Pietro, near Ajaccio, Corsica, France",Inex Adria Aviopromet (Yugoslavia),180.0,180.0,The aircraft crashed into a mountain during an...,1981,Mt. San Pietro,near Ajaccio,Corsica,France
4053,"Near Point Alert, Ellesmere Island, NWT,Canada",Military - Royal Canadian Air Force,18.0,5.0,Flew into the ground 12nm from the runway at a...,1991,Near Point Alert,Ellesmere Island,NWT,Canada
4969,"Lake Erie, off Pelee Island, Ontario, Canada",Georgia Express,10.0,10.0,he pilot reported having trouble shortly after...,2004,Lake Erie,off Pelee Island,Ontario,Canada

In [10]:
# Move information in "extra" column to "country" column
df2['extra2'] = df2['extra'].str.replace('20 miles NW of Milan','Italy')
for i, row in df2.iterrows():
    if df2.at[i,'extra2'] != 'undetermined':
        df2.at[i, 'country'] = df2.at[i, 'extra2']

In [11]:
df2

,Location,Operator,Aboard,Fatalities,Summary,year,city,state,country,extra,extra2
0,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",1908,Fort Myer,Virginia,undetermined,undetermined,undetermined
1,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,1912,AtlantiCity,New Jersey,undetermined,undetermined,undetermined
2,"Victoria, British Columbia, Canada",Private,1.0,1.0,The first fatal airplane accident in Canada oc...,1913,Victoria,British Columbia,Canada,undetermined,undetermined
3,Over the North Sea,Military - German Navy,20.0,14.0,The airship flew into a thunderstorm and encou...,1913,Over the North Sea,undetermined,undetermined,undetermined,undetermined
4,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,Hydrogen gas which was being vented was sucked...,1913,Near Johannisthal,Germany,undetermined,undetermined,undetermined
...,...,...,...,...,...,...,...,...,...,...,...
5263,"Near Madiun, Indonesia",Military - Indonesian Air Force,112.0,98.0,"While on approach, the military transport cras...",2009,Near Madiun,Indonesia,undetermined,undetermined,undetermined
5264,"Near Isiro, DemocratiRepubliCongo",Service Air,4.0,4.0,The cargo plane crashed while on approach to I...,2009,Near Isiro,DemocratiRepubliCongo,undetermined,undetermined,undetermined
5265,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,228.0,228.0,The Airbus went missing over the AtlantiOcean ...,2009,AtlantiOcean,570 miles northeast of Natal,Brazil,undetermined,undetermined
5266,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1.0,1.0,The air ambulance crashed into hills while att...,2009,Near Port Hope Simpson,Newfoundland,Canada,undetermined,undetermined
5267,"State of Arunachal Pradesh, India",Military - Indian Air Force,13.0,13.0,The military transport went missing while en r...,2009,State of Arunachal Pradesh,India,undetermined,undetermined,undetermined

In [12]:
#df2[df2['extra'].str.contains('undetermined') == False]

In [13]:
# Drop unneeded column
df2.drop(['extra', 'extra2'], axis=1)

,Location,Operator,Aboard,Fatalities,Summary,year,city,state,country
0,"Fort Myer, Virginia",Military - U.S. Army,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",1908,Fort Myer,Virginia,undetermined
1,"AtlantiCity, New Jersey",Military - U.S. Navy,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,1912,AtlantiCity,New Jersey,undetermined
2,"Victoria, British Columbia, Canada",Private,1.0,1.0,The first fatal airplane accident in Canada oc...,1913,Victoria,British Columbia,Canada
3,Over the North Sea,Military - German Navy,20.0,14.0,The airship flew into a thunderstorm and encou...,1913,Over the North Sea,undetermined,undetermined
4,"Near Johannisthal, Germany",Military - German Navy,30.0,30.0,Hydrogen gas which was being vented was sucked...,1913,Near Johannisthal,Germany,undetermined
...,...,...,...,...,...,...,...,...,...
5263,"Near Madiun, Indonesia",Military - Indonesian Air Force,112.0,98.0,"While on approach, the military transport cras...",2009,Near Madiun,Indonesia,undetermined
5264,"Near Isiro, DemocratiRepubliCongo",Service Air,4.0,4.0,The cargo plane crashed while on approach to I...,2009,Near Isiro,DemocratiRepubliCongo,undetermined
5265,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,228.0,228.0,The Airbus went missing over the AtlantiOcean ...,2009,AtlantiOcean,570 miles northeast of Natal,Brazil
5266,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,1.0,1.0,The air ambulance crashed into hills while att...,2009,Near Port Hope Simpson,Newfoundland,Canada
5267,"State of Arunachal Pradesh, India",Military - Indian Air Force,13.0,13.0,The military transport went missing while en r...,2009,State of Arunachal Pradesh,India,undetermined

In [20]:
engine = create_engine('postgresql://postgres:L3arn2019!@localhost:5432/Crash_Susan')

In [22]:
engine.execute("DROP TABLE IF EXISTS crashess;")

In [24]:
df2.to_sql('crashess', engine)